.accInfo{
    width: 500px;
    float: left;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  float: right;
}

.deleteBtn{
  background-color: crimson;
}

#items {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}

#items td, #users th{
  border: 1px solid #ddd;
  padding: 8px;
}
#items tr:nth-child(even){background-color: darkslategray;}


#items th{
  border: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkgray;
  color: white;
}

.text{
    color: black;
}



.member {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  background-color: slateblue;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}