<div>
    <div class="accInfo">
        <h3>Bio</h3>
        <p>{{user.bio}}</p>
        <h3>Items</h3>
        <button class='button' mat-button (click)="openDialog()">AddItem</button>
        <table id="items">
            <th class="header" *ngFor="let column of headers">
              {{ column }}
            </th>
            <tr *ngFor="let item of userItems">
              <td>
                {{ item.id }}
              </td>
              <td>
                {{ item.name }}
              </td>
              <td>
                {{ item.description }}
              </td>
              <td>
                {{ item.quantity }}
              </td>
              <td>
                {{ item.quality }}
              </td>
              <td>
                <button class="deleteBtn" (click)="deleteItem(item.id)">X</button>
              </td>
            </tr>
          </table>
    </div>

    
    <div class="card">
        <img src="../../assets/img.jpg" alt="kitty" style="width:100%">
        <h1 class="text">{{user.username}}</h1>
        <p class="member">{{user.class}}</p>
        <p class="text">{{user.email}}</p>
    </div>

</div>