.calContainer {
  display: flex;

  justify-content: space-around;
  height: 500px;
}

.dateContainer {
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.calendarHeader {
  text-align: center;
}
.off-two .off-one {
  border-style: solid;
  text-align: center;
}

.off-one {
  color: grey;
}

.off-two {
  color: black;
}

.primary {
  border-style: dashed;
  width: 20%;
  text-align: center;
}
