<div class="mainBox">
    <h2>Welcome to the Help Page!</h2>
</div>
<div class="mainBox">
    <br>
    <p>This is the help page, here you can find out about the web application and roles that are inside it. Never played a RPG game
        ? No problem, we got you covered. Never been a Game Master? No worries we got you there too. Tired of pen to paper? well this 
        is the solution, any questions or concerns you have will be answered here.
    </p>

    <h2 class="header" id="GM">Game Masters</h2>
    <br>
    <p>
        As Game Master you are in charge on the game.
        Game Master organizes and oversees the playing of the fantasy role-playing game of your choice,
        in particular by narrating the details of the story that are not controlled by the players.
        The Game Master is responsible for narrative flow, creating the scenario and setting in which the game takes place,
        maintaining the pace and providing dynamic feedback. In storyteller role, the Game Master is responsible for describing
        the events of the Role Playing game session and making rulings about game situations and effects based on the decisions made by the players.
        The Game Master can develop the adventure plot and setting in which these players participate or use a preexisting module. This is typically designed as a type of decision tree that is followed by the players, and a customized version can require several hours
        of preparation for each hour spent playing the game.
        The Game Master serves as the arbiter of the rules, both in teaching the rules to the players and in enforcing them. The rules provide game mechanics for resolving the outcome of events, including how the player's characters interact with the game world.
        Although the rules exist to provide a balanced game environment,
        the Game Master is free to ignore the rules as needed. The DM can modify, remove, or create entirely new rules in order to fit the rules to the current campaign.
        This includes situations where the rules do not readily apply, making it necessary to improvise. An example would be if the players are attacked by a living statue. To destroy the enemy, one player soaks the statue in water, while the second uses his cone of cold breath to freeze the water. At this point,
        he appeals to the DM, saying the water expands as it freezes and shatters the statue. The DM might allow it, or roll dice to decide. In the above example the probability roll might come up in favor of the players, and the enemy would be shattered. Conversely, rules do not fit all eventualities and may have unintended consequences. The DM must ultimately draw the line between creative utilization of resources (e.g. firing wooden arrows into a dragon, then using a spell that warps wood at a distance) and exploit (e.g. "horse bombing" - using a non-combat spell that creates a temporary mount, several dozen feet above an enemy; hiring several thousand commoners to form a line and use a rule that allows characters to pass items to each other immediately to propel objects at railgun speeds.)
        
        </p>

    <h2 class="header" id="PL">Players</h2>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et neque vel turpis pellentesque pellentesque. Vivamus nisi ipsum,
        ollicitudin id ex ut, pellentesque lacinia ante. Phasellus venenatis, augue nec dictum dignissim, justo lectus molestie odio, at 
        tincidunt arcu turpis nec elit. Maecenas tellus eros, tincidunt sit amet eleifend at, 
        venenatis at nunc. Sed rutrum vitae leo vitae venenatis. Phasellus ex lorem, bibendum a egestas sed, tincidunt vel ipsum. 
        Vivamus quis orci dictum, maximus elit eget, pharetra sem. Pellentesque at vehicula nibh.
        Vivamus in erat ac diam tristique ultrices. Donec lobortis arcu a tellus vehicula malesuada. Sed est justo, interdum eu 
        quam sollicitudin, finibus ultrices mi. Phasellus in ultrices metus. Cras diam elit, ullamcorper quis lorem eu, 
        pharetra tincidunt diam. Etiam suscipit, tortor eget rutrum tempus, metus erat iaculis risus, sit amet iaculis neque 
        velit et felis. Duis finibus nec mauris placerat vehicula. Pellentesque faucibus orci et augue aliquet fringilla. 
        In accumsan, arcu a euismod ultrices, leo massa volutpat purus, quis mattis lorem dolor sit amet massa. Vivamus tincidunt 
        enim at erat venenatis, ac cursus erat mollis. Nulla facilisi.
    </p>

    <h2 class="header">FAQ</h2>
    <br>
    <li>Question 1
        <tr>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deserunt omnis beatae, sint sapiente officiis eligendi amet iure quisquam voluptatem ipsam, praesentium eum eius quia rem commodi odit quod cupiditate.</tr>
    </li>
    <li>Question 2
        <tr>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa similique, nobis accusantium ad ipsum dolore ex, necessitatibus natus nam aperiam rerum quisquam animi odit dolorem recusandae officiis pariatur cum facilis?</tr>
    </li>
</div>

