<div class="container">
  <form #createGameForm (submit)="submitGameForm()">
    <div class="form-group">
      <label for="gameName">Game Name</label>
      <input ngModel name="gameName" #gameName="ngModel" class="form-control" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        ngModel
        name="description"
        #description="ngModel"
        id="description"
        cols="30"
        rows="10"
        class="form-control"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="numPlayers">Number of Players</label>
      <input
        type="number"
        ngModel
        name="numPLayers"
        #numPlayers="ngModel"
        class="form-control"
      />
    </div>
    <button type="submit" class="button">Submit</button>
  </form>
</div>
