#games{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: 1000px;
    border-style: double;
}

#games td, #games th{
    border: 1px solid #ddd;
    padding: 8px;
}

#games tr:hover{
    background-color: magenta;
}

#games th{
border: 1px solid #ddd;   
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: darkmagenta;
color: white;
}

.button{
    float: right;
    background-color: slategrey;
    color: white;
}
.button:hover{
    background-color: darkslategray;
}

.div1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}