.help-block{
    color: red;
  }
.card-body{
  color: blue;
}

.container-fluid form.card-body{
  color:blue;
}
.card-title {
    color: rgb(7, 7, 7);
}

.pass_description{
    color: rgb(170, 166, 166);
    font-size: small;
    font-style: italic;
}

.btn-btn-primary{
  color: black;
}

.btn-btn-primary:hover{
  color: red;
}