<div>
  <button class="button" onclick="location.href='https://localhost:5001/gameoverview'" >Create Game</button>
</div>
<div class="div1">
    <h1>My Games</h1>
    <table id="games">
    <th class="header" *ngFor = "let column of headers">
      {{column}}
    </th>
    <tr onclick="" *ngFor = "let row of rows">
      <td *ngFor = "let column of headers">
        {{row[column]}}
      </td>
    </tr>
  </table>
</div>
<br>
<div>
    <h1>Available Games</h1>
    <div *ngIf="condition.availGames">
        <button class="button" onclick="alert('No Games where selected!')">Join Game</button>
        <table id="games">
           <th class="header" *ngFor = "let column of aheaders">
             {{column}}
           </th>
           <tr *ngFor = "let row of arows">
            <td *ngFor = "let column of aheaders">
              {{row[column]}}
           </td>
          </tr>
         </table>
      </div>
      <h2 *ngIf="condition.availGames != true">Sorry there are no available games at this time.</h2>
</div>
